ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.my-navbar {
    justify-content: flex-start;
}

.login_out {
    justify-content: end;
    display: flex;
}

.membership {
    justify-content: flex-end;
}


.page-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.form-row button {
    margin-top: 1rem;
}

.qna {
    border-spacing: 0; /* Optional: Remove extra space between table cells */
    padding: 10px;
}

.mainpage {
    margin-left: 15rem;
    margin-right: 15rem;
    max-width: 90%; 
    margin: 0 auto; 
}

.loginsite{
width: 300px;
height: 200px;
border: 0;
border-radius: 10px;
background-color: antiquewhite;
padding: 20px;
margin: 0 auto;
font-size: 15px;
text-align: center;

}

.thead {
    text-align: center;
}

.usertable {
    width: 700px;
    margin-top: 3rem;
    text-align: center;
}

.surveytable {
    height: 500px;
}